/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2014, 12:05:13 PM
    Author     : eslem
*/

//background: -webkit-radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))

$color-text: #555555;

@mixin filter($filter){
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -o-filter:$filter;
    -ms-filter: $filter;
    filter: $filter;
}

@mixin transition($arguments) {
    -webkit-transition:$arguments;
    -moz-transition:$arguments;
    transition:$arguments;}


html, body{
    background-color: #111111;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    overflow-x: hidden;

    font-family: 'Francois One', sans-serif;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    // font-family: 'Open Sans', sans-serif;
}


.main-Slider{
    width:100%;


    .active{
        width:100%;
        height:600px;

        margin:0px;
        padding:0px;

        .imgBack{
            //background-image: url("../images/games/dragonAge.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            width:100%;
            height: 100%;
            background-image:
                radial-gradient(
                rgba(0,0,0,0),
                #f06d06
                );

            img{
                width: 100%;
            }
        }
    }

    .elements{
        -webkit-backface-visibility: hidden;
        margin:0px;
        padding:0px;
        width:110%;
        margin-left: -50px;
        .element{
            -webkit-backface-visibility: hidden;
            width:33.33333%;
            margin:0px;
            height:250px;
            display:inline-block;
            float:left;
            transform: skewX(-15deg);

            text-align:center;

            position:relative;


            &:after, &:before{
                clear: both;
            }

            *{
                @include transition(all .3s linear);

            }

            &:hover{
                -webkit-backface-visibility: hidden;
                .text{
                    opacity: 1;
                }
                .imgBack{
                    @include filter(brightness(0.5));
                }
            }

            .imgBack{
                -webkit-backface-visibility: hidden;
                height: 100%;
                width: 100%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                position: absolute;
                overflow-x:hidden;
                overflow-y:hidden;
                img{
                    -webkit-backface-visibility: hidden;
                    height: 100%;
                    width: 120%;
                    margin-left: -10%;
                    transform: skewX(15deg);
                }

            }

            .text{
                -webkit-backface-visibility: hidden;
                height: 50%;
                overflow: auto;
                margin: auto;
                position: absolute;
                padding-top: 50px;
                top: 0; left: 0; bottom: 0; right: 0;
                opacity: 0;
                transform: skewX(15deg);
                .diagnalA{
                    transform: skewX(-30deg);
                    background-color: #F2CE1B;
                    padding:10px;

                    margin:0 150px;
                    .normalize{

                        transform: skewX(30deg);
                        a{
                            margin:0px;

                            text-transform: uppercase;
                            text-decoration: none;

                            color: $color-text;
                        }
                    }
                }


                h3{
                    margin:0px;
                    margin-top: 5px;
                    color: #eeeeee;
                    text-transform: uppercase;
                    font-weight:200;

                }
            }
        }
    }
}



.gallery{
    margin-top: 400px;
    width: 100%;
    height: 300px;
    .categorias{

        .listacategorias{

            .categoria{

                display: inline-block;
                margin-left:15px;

                a{
                    color: #555555;
                    text-decoration: none;
                }
            }
        }
    }
    
    
    .imagenes{ 
        width: 100%;
        height: 400px;

        .imagen{
            .text{
                //display: none;
                overflow: auto;
                margin: auto;
                position: absolute;
                
                a{
                    color:white;
                    text-decoration: none;

                }
                .diagnalA{
                    .normalize{

                    }
                }
            }

        }
        transform: skewX(-15deg);
        &:first-child{
            margin-left: 5%;

        }
        img{

            float: left;
            height: 250px;
            width: 25%;
            -webkit-backface-visibility: hidden;
            margin-left:-1%;


            &:hover{
                -webkit-backface-visibility: hidden;                
                @include filter(brightness(0.5));
            }
        }

        &:after, &:before{
            clear: both;
        }


    }
}




