

//Variables

$color-text: #555555;
$blue-color:#7ed1e2;

$font: 'Francois One', sans-serif;
$font-text: 'Open Sans', sans-serif;


$backNavbar : #1D1F21;
$backSideBar : #eee;
$font-style: iniherit;
$font-text: 'Open Sans', sans-serif;
$navbar-color: #777;
$navbar-black: #080808;
$width-tablets : 768px;
$width-mobiles : 480px;