@import "mixins";

#divCart {
    margin-top:56px;}

.detail {
    .precio {
        left:78%;
    }
    .btnCB-5:before {
        content:"\e005";
    }
}

.imagenes {
    .game {
        width:248px;
        
        .info {
            font-size:1em;
        }
    }
}

#actions {
    text-align:center;
    margin-bottom:24px;

    .diagnalA {
        text-align:center;
        display:inline-block;
        padding:2px 16px;
        margin:0 4px;
        .normalize {
        transform:skewX(30deg);
            a {
                color:black;
                text-decoration:none;
            }
        }
        @include transition(.2s);
        opacity:.6;
        &:hover {
            opacity:1;            
        }
    }
}