@import "mixins";
@import "navbar";
@import "vars.scss";


/* ---------------------------------- Detalle de Producto ---------------------------------- */

#divCategories {
    margin-top:56px;
}

.detail {
    margin:0% 6.25% 24px;
    position:relative;
    vertical-align:top;
    border:3px $color-text solid;
    font-size:0px;
    background-color:#383838;
    .imgDet {
        width:50%;
        display:inline-block;}
    div {
        display:inline-block;
        width:50%;
        color:#888888;
        text-align:justify;
        position:absolute;
        font-size:12.5px;
        padding:0% 3%;
        h3 {
            text-align:center;
            color:white;
            text-shadow:2px 2px 8px $blue-color;}
    }
    .platforms {
        border:2px $color-text solid;
        width:auto;
        bottom:4%;
        left:53%;
        padding:1% 1%;
        display:none;}
    .precio {
        bottom:7%;
        left:81%;
        font-size:16px;
        color:white;}
    button { 
        position:absolute;
        bottom:4%;
        right:3%;
        padding:1% 1%;
        color:#005F6B;
        font-weight:bold;
        border:none;
        &:hover {
            background-color:#005F6B;
            color:$blue-color;
            @include transition(all .2s);
            outline:none;
            cursor:pointer;
        }
    }
}

.diagnalA {
    transform:skewX(-25deg);
    background-color:$blue-color;
    span, &:before {
        transform:skewX(25deg);
        &:hover {
            outline:none;
        }
    }

    &:before {
        margin-left:5px;
    }
}

/* ----------------------------------  Lista de Productos ---------------------------------- */

.imagenes {
    margin:0 2%;
    .game {
        display:inline-block;
        position:relative;
        width:29.33%;
        margin:1% 2%;
        background:black;
        .imgBack {
            cursor:pointer;
            font-size:0;
            position:relative;
            img {
                width:100%;
                height:auto;
                transition:.2s;
                -webkit-backface-visibility:hidden;}
            &:hover {
                .diagnalA {
                    opacity:1;}
                img {
                    opacity:.5;
                }
            }
        }
        .diagnalA {
            @include transition(.1s);
            position:absolute;

            left:50%;
            margin-left:-38px;
            top:50%;
            margin-top:-13px;

            text-align:center;
            padding:2px 16px;
            opacity:0;

            font-size:16px;
        }
        .info {
            text-align:center;
            font-size:1.5vw;
            width:100%;
            & > div {
                @include transition(.1s);
                @include box-sizing(border-box);

                width:100%;
                height:30px;
                line-height:28px;

                background:black;
                color:$color-text-light;
                white-space:nowrap;
                padding:2px 0;
            }
        }

        &:hover {
            .info > div {
                color:gray;
            }

            .diagnalA {
                @include transform(skewX(-25deg) scale(1.2));
            }
        }
    }
}

#background {
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    background:black;
}