<<<<<<< HEAD
@import "mixins";
@import "vars";


/* ---------------------------------- Html y body ------------------------ */
html, body {
    background-color:#111111;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family:$font;
}

.background {
    background-size:cover;    
}

*:not(i){
    @include box-sizing(border-box);
}

.diagnalA {
    -webkit-backface-visibility:hidden;
}

.slideButton {
    cursor:pointer;
    padding:0;
    width:96px;
    height:32px;
    line-height:32px;

    color:#005F6B;
    font-size:16px;
    &:hover {
        background-color:#005F6B;
        color:$blue-color;
        @include transition(all .2s);
        outline:none;
    }
    
    &.long {
        width:160px;
    }
    
    &.cart, &.trash {
        width:160px;
        
        &:hover:before {
            left:-2%;
        }
    }
}
=======
@import "mixins";
@import "vars";


/* ---------------------------------- Html y body ------------------------ */
html, body {
    background-color:#111111;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family:$font;
    background-size: 100% 100%;
}

*:not(i){
    @include box-sizing(border-box);
}

>>>>>>> 9a2c97db9fc676ca4060998d3001044a63fb634b
